.homeTitles {
    color: #919FC1;
    
}

.homeTitles h3 {
    font-size: 20px;
}

.owl-controls .owl-pagination .owl-page {
   
    border: 2px solid #919FC1;
}
.owl-controls .owl-pagination .owl-page.active, .owl-controls .owl-pagination .owl-page.active:hover {
    background-color: rgb(145, 159, 193);
}

#carouselmarcas {
    padding-bottom: 4.5em;
}

.showcase-default h2 {
    text-align: center;
    color: #919FC1;
    font-size: 24px;
    text-transform: uppercase;

}



@media screen and (min-width: 450px) and (max-width: 1890px){
    #bannerA1, #bannerA2 {
        height: 203px !important;
    }
    #bannerB1, #bannerB2, #bannerB3 {
        height: 350px !important;
    }

    #bannerC1, #bannerC2 {
        height: 386px !important;
    }
    #bannerDestinos1, #bannerDestinos2, #bannerDestinos3, #bannerDestinos4 {
        height: 97px !important; 

    }
    #bannerD1 {
        height: 398px !important;
    }
  }

  .owl-carousel#carouselmarcas .owl-item .item a img {
      height: 4em;
  }

  @media screen and (max-width: 450px) {
      #home-content {
          padding-left: 15px !important;
          padding-right: 15px !important;
      }
  }

  
  /**home-content/