#newsletter {
    background-color: #919FC1;
}

.footer, .copy-right {
    background-color: #919FC1
}

.footer b, .footer li a, .footer li span, .footer a {
    color: white;
}

.copy-right p {
    color: white;
}

.footer b, .footer a {
    font-size: 12px;
}

#footercbyk {
    width: 3em;
    margin-left: 1em;
    margin-top: 3px;
}

#footervtex {
    width: 5em;
    margin-left: 1em;
}

.col-pague-com small {
    color: white;
}

#newsletterLink {
    font-size: 30px;
}

.footer .fa {
    font-size: x-large;
}

#https {
    width: 3em;
}

#google-safe {
    width: 9em;
}

#logo-branca-th {
    width: 5em;
}

#newsletterwrapper {
    background-color: #919FC1;
    width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

#email-input {
    border-radius: 0px;
    margin-right: -2em;
    margin-bottom: 1.2em;
    border-color: transparent;
    width: 20%;
}

#name-input {
    border-radius: 0px;
    margin-bottom: 1.2em;
    border-color: transparent;
    width: 20%;
}

#emailcatcher {
    display: inline-block;
    color: #919FC1;
    background-color: white;
}

@media screen and (max-width: 1450px) {
    #newsletterwrapper {
        width: 100%;
        height: auto;
    }
    #email-input {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 500px) {
    .col-pague-com img {
        margin-left: -2em;
    }
}

@media screen and (min-width: 1800px) {
    .col-pague-com img {
        margin-left: -3em;
    }
}

@media screen and (max-width: 500px) {
    #name-input {
  
        width: 100%;
    }
    #email-input {
        width: 100%;
        margin-left: -7px;
    }
}

@media screen and (min-width: 700px) {
    #name-input {
        margin-right: 1em
    }
    #email-input {
         margin-left: 1em
    }
}