.welcome-bar{
    background-color: #919FC1 !important;
    
}

.header .logo {
    text-align:  center;
}


#wishlist {
    text-align: right;
    max-width: 12em;
    display: block;
}


#wishlist a {
    width: 100%;;
}

input {
    padding-left: 1em;
}

#storenavsecondary{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    /* background: #cacaca; */
    margin: 0;
    padding: 0;
}
#storenavsecondary li a {
    font-size: 12px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
    text-decoration: underline;
}
.header-container {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100000;
    opacity: 0.97;
}
.header-container:hover{
    opacity: 1;
}

#storenav {
    /*margin-left: 19%;*/
}
#storenav li{
    margin-right: 1em;
}
.welcome-bar p, .welcome-bar a, .welcome-bar span {
    color: white !important;
}

.link-logo img {
    max-width: 11%;
}


.header .search .busca, .header .sing-in {
    margin-top: 1em;
}


.fulltext-search-box{
    color: #8695ac !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important; 
    border-bottom: 1px solid #919FC1 !important;
    border-radius: 0px !important;
    outline-style:none;
    box-shadow:none;

}

.btn-orders, .btn-login {
    border: none;
    box-shadow: none;
    background-color: white !important;
}
.btn-buscar {
    background-image: url(/arquivos/search_icon.png) !important;
    background-repeat: no-repeat !important;
    color: transparent !important;
    border-color: transparent !important;
    outline-style:none;
    box-shadow:none;
    border: none;
    background-color: white !important;
}

.btn-mini-cart{
    border-color: transparent;
}

#mobile-cart, #desktop-cart{
    border-color: transparent !important;
    outline-style:none;
    box-shadow:none;
}
#mobile-cart img  {
    max-width: 70%;
}
#desktop-cart img {
   /* max-width: 30%;*/
}

#menu-mobile{
    border-color: transparent !important
}
#menu-mobile i {
    color: #919FC1;
    border-color: transparent;
}

#hamburguer .btn {
    color: #919FC1;
    font-size: 2.5em;
    border-color: transparent;
}

.header .mini-cart span.badge {

    top: 0 !important;
    right: 0 !important;
}
.mini-cart-qty-admake {
    background-color: rgb(145, 159, 193) !important;
}

.btn-login, .btn-orders {
    color: #919FC1;
    border-color: transparent
}

.mini-cart-botao .btn-finalizar-compra {
    background-color: #8594ab !important
}
#menu-mobile i {
    color: white;
}

#menu-mobile .fa-bars {
    color: transparent
}
#menu-mobile{
    opacity: 0.9;
    background-color: #919FC1;

}

#menu-mobile ul li a, #menu-mobile ul li a {
    color: white
}

#top-menu .menu{
    background-color: white;
}

#top-menu .menu li a {
    color: #8695ac;
}


#admake-advanced-filter {
    display: none !important;
}


.menu-departamento{
    display: block !important;
    overflow: visible !important;
    margin-top: -25px;
    padding-top: 1em;
    
    
}

#mini-cart-admake .mini-cart-item .qtd-valor .qtd {
    display: none;
}
#mini-cart-admake .mini-cart-item {
    border-bottom: none;
}

.menu-departamento a {
    color: #8695ac !important
}

#mini-cart-admake {
    opacity: 1;
}
.deptonav {
  
    background-color: #fff;
    /*opacity: 0.92;*/
    z-index: 9999999999;
    padding-top: 2em;
    padding-left: 2em;
    position: absolute;
    width: 100%;

    
}

.deptonav .row .col-sm-4 {
    margin-left: -15px;
}

.deptonav ul li {
    margin-bottom: 2em;
}


/* Fixed sidenav, full height */
.sidenav {
  
    width: 100%;
    
    z-index: 1;
    top: 0;
    left: 0;
  
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  
  
  
  /* Add an active class to the active dropdown button */
  .active {
    
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-angle-down, .fa-angle-up  {
    float: right;
    padding-right: 8px;
  }


  #backtotop {
        display: block;
        position: fixed;
        bottom: 55px;
        right: 15px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #8B99BA;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
        width: 2em;
        height: 2em;
  }



  .v2-vtexsc-cart.vtexsc-cart {
        display: none !important;
  }
  
  .cart-info {
      display: none !important;
  }
#mini-cart-admake-aux {
    padding-left: 10px
}
#mini-cart-admake {
    display: block !important;
    width: 100%;
    padding: 10px;
    border-radius: 0px !important;
    box-shadow: none !important;
    right: 0 !important;
    border: none !important;
    top: 95px !important;
}

#MostraTextoXml1 {
    font-size: 21px;
}

#mini-cart-admake .mini-cart-footer {
    padding:10px !important;
}
#mini-cart-admake .mini-cart-item {
    padding: 5px !important;
}

#mini-cart-admake .mini-cart-item .imagem {
    width: 116px !important;
    height: auto !important;
    float: left;
    display: block !important;
    margin-left: -14%;
}

#mini-cart-admake .mini-cart-item .detalhes {
    display: block !important;
}



.header .search .btn-buscar {
    height: 20px;
    background-position: center;
    width: 20px;
    background-size: contain;
}
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



@media (max-width: 600px)  {
    
    #wishlist {
        
       display: none;
    }
    #backtotop {
        display: none;
    }

    .header .search {
        margin-top: -10px;
    }

    .link-logo img {
        max-width: 29%;
    }
    .header .button-menu-xs {
        margin-top: -10px;
    }
}

@media screen and (max-width: 1450px) { 
    #storenav {
        /*margin-left: 3%;*/
    }

    #storenav li {
        margin-right: -0.2em;
    }
}

@media screen and (min-width: 1451px) { 
   /* .link-logo img {
        max-width: 16%;
    }*/

    #desktop-cart img{
       /* max-width: 42% !important;*/
    }
    #coracao-icon {
       /* max-width: 40% !important;*/
    }

}




@media screen and (max-width: 600px) {
   
    .ui-autocomplete {
        width: 90% !important;
    }
}


@media screen and (max-width: 1050px) and (min-width: 700px){
    #desktop-cart img {
        max-width: 3em !important;
        margin-left: 26px;
    }

    .logo a img {
        max-width: 54%;
    }


    .header .search .fulltext-search-box {
        width: 74%;
    }

    #hamburguer .btn {
        margin-top: -4px;
    }


    .header .search .btn-buscar {
        width: 3em;
    }

    #wishlist {
        text-align: right;
        width: 8em;
        margin-right: -50px;
        margin-left: -88px;
    }
}


@media screen and (min-width: 1051px) and (max-width: 1450px)  {
    .container {
        padding-left: 8em;
        padding-right: 8em;
    }
}

@media screen and (min-width: 1400px) {
    #coracao-icon {
        max-width: 70% !important;
    }
    .btn-mini-cart img {
        max-width: 80% !important;
    }
}